<strong>Recuperando senha</strong>

<p>Uma solicitação de recuperação de senha foi realizada para o email ({{ email }}).</p>
<p>Se desconhece, seria interessante midar sua senha</p>

<p> Para continuar com a recupaeração de senha, utilize o token {{ token }} ou clique no link :

<a href="{{ link }} "> Criar uma nova senha</a>
